<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Employees List</h1>  
<table border="2" width="70%" cellpadding="2">  
<tr><th>Id</th><th>Name</th><th>Salary</th><th>Designation</th><th>Edit</th><th>Delete</th></tr>   
   <tr th:each="emp : ${list}">  
   <td th:text="${emp.id}"></td> 
   <td th:text="${emp.name}"></td>  
   <td th:text="${emp.salary}"></td>  
   <td th:text="${emp.designation}"></td>  
   <td><a th:href="${'/editemp/' + emp.id}">Edit</a></td>
   <td><a th:href="${'/deleteemp/' + emp.id}">Delete</a></td> 
   </tr>   
   </table>  
   <br/>  
   <a th:href="@{/empform}">Add New Employee</a>  

</body>
</html>